.projectCard {
   width: 300px;
   height: 300px;
   border-radius: 5px;
   cursor: pointer;
   display: flex;
   flex-wrap: wrap;
   -webkit-box-shadow: 6px 4px 13px 1px gray;
   box-shadow: 6px 4px 13px 1px gray;
   margin: 20px 40px;
   overflow: hidden;
   text-decoration: none;
 }
 
 .projectCard img {
   width: 100%;
   height: 70%;
   object-fit: cover;
 }
 
 .projectCard .info {
   display: flex;
   align-items: center;
   gap: 20px;
   padding: 15px;
 }
 
 .projectCard .info img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   object-fit: cover;
 }
 
 .projectCard .info .texts {
   color: black;
 }
 
 .projectCard .info .texts h2 {
   font-size: 14px;
   font-weight: 500;
   text-decoration: none; /* Remove underlined text */
 }
 
 .projectCard .info .texts span {
   font-size: 14px;
   text-decoration: none; /* Remove underlined text */
 }
 