.catCard {
 width: 300px;
 height: 300px;
 
 cursor: pointer;
 display: flex;
 flex-wrap: wrap;
 margin: 20px ;
 overflow: hidden;
 border-radius: 10px;
 
 }
 img{
   object-fit: cover;
   object-position: center;
   width: 300px;
   height: 300px;
 }
 .flex {
   position: absolute;
   top: 10;
   left: 20;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   color: white;
   background-color: rgba(0, 0, 0, 0.247);
   padding: 10px; /* Optional: Add padding for spacing */
 }
 
 .title {
   font-weight: bold;

 }
 
 .desc {
   font-style: italic;
 }
 