.slide{
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    .container{
        width: 1400px;
        .carousel-prev, .carousel-next{
            width: 50px;
            height: 50px;
            background-color: rgb(237,236, 236);
            border-radius: 50px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
             
        }
    }


}