.featured {
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: rgb(23, 107, 135);
    color: white;
    .container {
        width: 1200px;
        display: flex;
        align-items: center;


        .left {
            display: flex;
            flex-direction: column;
            gap: 30px;

        h1 {
            font-size: 50px;
            i{
                font-weight: 300;
            }
        }

        .search { 
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            border-radius: 5px;
            width: 800px;

            .searchInput {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                img{
                    width: 20px; 
                    height: 20px;
                    margin: 10px;

                }
                input{
                    border: none;
                    outline: none;
                    
                    
                } 
            }
            button{
                width: 120px;
                cursor: pointer;
                height: 50px;
                border: none;
                background-color: cadetblue;
                color: white;

            }
        }
        .popular{
            display: flex; 
            align-items: center;
            gap: 10px;
            span{
             
            }
            button{
                color: white;
                background-color: transparent;
                border: 1px solid white;
                padding: 5PX 10px;
                font-size:14px ;
                border-radius: 20px;

                cursor: pointer;
            }

        }
        }

        .right {
            height: 100%;

            img{
                margin-top: 50px;
                height: 50%;
                object-fit: contain;
                
            }
             
        }
    }
}
