.home{
    .features{
        background-color: #f1fdf7;
        display: flex;
        justify-content: center;
        padding: 75px 40px;
        &.dark{
            background-color:#213555 ;
            padding: 20px 50px ;
            h1{
                color: white  !important;
                i{
                    font-weight: bold  !important;
                    font-size: 60px  !important;
                }
            }
            p{
                color: white !important;
                margin: bottom 2Opx  !important;
            }
            .title{
                color: white !important;
                font-weight: 300 !important;
                font-size: 14px !important;
            }
            .explorer{
                color: white;
                background-color: gray;
                border-radius: 30px;
                border: 1px solid black;
                padding: 10px 8px;
                margin-top: 30px;
                cursor: pointer;
                font-size: 20px;
                 transition: color 0.5s ease-in , background-color 0.5s ease-in;

                 &:hover{
                    color:white;
                    background-color:green ;
                    transition: background-color 0.5s ease-in;
                 }
            }
            img{
                width: 90%;
                
                
             }
        }

    .container{
        width: 1400px;
        display: flex;
        align-items: center;
        gap: 100px;
         
        .item{
           display: flex;
           flex-direction: column;
           gap: 15px;
             
            &:first-child{
                flex: 2;
            }
            &:last-child{
                flex: 3;
            }
              
            h1{
             font-weight: bold;
             margin-bottom: 10px;
            }
            p{
                font-size: 18px;
                font-weight: 300;
                color: gray;
                line-height: 28px;
                letter-spacing: 1px;

            }
            .title{
                display: flex;
                align-items: center;
                gap: 10px;
                font-weight: bold;
                font-size: 18px;
                color:black;
                img{
                    width: 24px;
                    height: 24px;
                }

            }
            video{   
                width: 3OOpx ;
                height: 400px;
            }
             
        }
    }
    }
}