.trustedby{
    background-color: rgba(230, 224, 224, 0.2);
    height: 100px;
    display: flex;
    justify-content: center;
    .container{
        width: 760px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap:2Opx ;
        color:black;
        font-weight: 300;
        img{
            height: 40px;
            object-fit: contain;
        }
         
    }

}