
  @import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Roboto+Mono:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Fuggles&family=Roboto+Mono:wght@300&display=swap');

*{
    font-family: 'Agdasima', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    flex-direction: column ;
    align-items: center;
    background-color: rgb(23, 107, 135);
    transition: 0.5s all ease;
    position: sticky;
    top: 0;
    z-index: 999;


    &.active{
        background-color: white;
        color: black;
    }
    .container{
        width: 1200px;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
        
        .logo{
            font-weight: bold;
            font-size: 30px;
            .dot{
                color: rgb(100, 204, 197);
            }
            .text{
                color: black;
                font-family: 'Agdasima', sans-serif;
                font-weight: bold;
                font-size: 50px;
            }
        }
        .links{
            display: flex;
            align-items: center;
            gap: 24px;
            font-weight: 500px;
            color: rgb(18, 18, 18);
            .user{
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                position: relative;

                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: vover;

                }
                .options{
                    position: absolute;
                    top: 50px;
                    right: 0;
                    padding: 20px;
                    background-color: white;
                    border-radius: 10px;
                    border: 1px solid lightgray;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: gray;
                    font-weight: 300;
                    width: 2OOpx;

                }

            }

            span{
                padding-left: 5px;
                font-weight: bold;
            }
            button{
                font-size: 25px;
                padding: 10px 20px;
                border: 1px solid white;
                color: white;
                border-radius: 10px;
                cursor: pointer;
                background-color: transparent;
                
                &:hover{
                    background-color: rgb(100, 204, 197);

                }
            }
        }
        
    }
    hr{
        width: 100%;
        height: 0;
        border: 0.5px solid lightgray;
    }
    .menu{
        width: 1300px;
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        color: gray;
        font-size: 15px;
    }
}  